.contact {
    display: flex;
}

.contactDetails h6 {
    font-size:16px;
    font-weight: 700;
    margin: 10px 0;
}
.contactDetails .fa-skype, .fas, .far{
    font-size: 20px;
    color: #000;
}
.contactDetails {
    font-size: 20px;
    color: #000;
    margin-top: 70px;
}

.contactDetails a {
    line-height: 10px;
}