.about {
    width: 100%;
    background: #000000;
}

.aboutContent{
    padding-top: 140px;
    min-height: 460px;
    margin: 0 2rem;
}

.about h1{
  font-weight: bold;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Tourney', cursive;
  animation: slide-in-right 1s ease-in-out both;

}
.about p {
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  padding-top: 30px;
  line-height: 22px;
  letter-spacing: 1px;
  font-family:  'Poppins', sans-serif;
}
