.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    min-height: 360px;
    background: #000;
    font-weight: 300;
    color: #fff;
    padding: 80px 30px;
  font-family: "Poppins", sans-serif;
}

.footer a:hover {
    color: #007bff;
    transition: 0.5s;
}
.infoFooter {
    width: 400px;
}

.footer img{
    width: 100%;
    margin-top: -60px;
    margin-left: -30px;
}

.infoFooter p{
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    padding-top: 40px;
    float: left;
    line-height: 24px;
}

.contactus a {
    padding-top: 10px;
}

.sitemap{
    padding: 0 30px
}

.sitemap ul{
    margin-top: 20px;
}

.sitemap a, .contactus a {
    text-decoration: none;
    color: #fff;
    line-height: 40px;
}

.contactus a {
    line-height: 40px;
}

.contactus li {
    text-decoration: none;
    color: #fff;
    list-style: none;
    margin-top: 20px;
}


.sitemap li {
    list-style: none;
    text-decoration: none;
}

.bottomSide {
    font-size: 15px;
    color: #000;
    font-weight: 700;
    opacity: 0.5;
    text-align: center;
    padding: 10px 0;
}